@import url(./normalize.css);
@import url(./header.css);
@import url(./styles/main.css);
@import url(./styles/footer.css);

@font-face {
  font-family: "Inter";
  src:
    url(../fonts/Inter.woff) format(woff),
    url(../fonts/Inter.woff2) format(woff2);
}

@font-face {
  font-family: "NotoSerif";
  src:
    url(../fonts/NotoSerif.woff) format(woff),
    url(../fonts/NotoSerif.woff2) format(woff2);
}

body {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
